version: '2'
services:
  jenkins:
    image: jenkins/jenkins:{{ jenkins_version }}
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      JAVA_OPTS: {{ jenkins_java_opts }}
    ports:
      - "{{ jenkins_port }}:{{ jenkins_port }}"
      - "50000:50000"
    volumes:
      - {{ jenkins_home }}:/var/jenkins_home
      - {{ jenkins_logs }}:/var/log/jenkins
      - /etc/localtime:/etc/localtime:ro
      - /app/logging.properties:/etc/logging.properties
      - /home/user/jenkins/.ssh/id_rsa:/home/user/jenkins/.ssh/id_rsa
      - /home/user/jenkins/.ssh/id_rsa.pub:/home/user/jenkins/.ssh/id_rsa.pub
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "{{ nginx_http_port }}:{{ nginx_http_port }}"
      - "{{ nginx_https_port }}:{{ nginx_https_port }}"
    links:
      - jenkins:jenkins
    volumes:
      - {{ nginx_conf }}:/etc/nginx/conf.d/default.conf
      - {{ nginx_tls_cert }}:/etc/nginx/ssl/server.crt
      - {{ nginx_tls_key }}:/etc/nginx/ssl/server.key
    restart: always
