version: "3.9"
services:
    harvestor:
        image: jiaqiw9/comp90024:tweet-harvestor-docker
        restart: always
        environment: 
            API_KEY: {{ API_KEY }}
            API_SECRET_KEY: {{ API_SECRET_KEY }}
            ACESS_TOKEN: {{ ACESS_TOKEN }}
            ACESS_TOKEN_SECRET: {{ ACESS_TOKEN_SECRET }}
            SERVER_USERNAME: {{ couch_usr }}
            SERVER_PASSWORD: {{ couch_pwd }}
            SERVER_IP: {{ current_ip }}

    flask:
        image: harryshen225/comp90024:flask-docker
        restart: always
        ports: 
            - "5000:5000"
        environment:
            SERVER_IP: {{ current_ip }}
            COUCHDB_AUTH_TOKEN: {{ couch_auth }}