services:
  atuin:
    restart: always
    image: ghcr.io/atuinsh/atuin:latest
    command: server start
    volumes:
      - atuin:/config
    networks:
      - {{ reverse_proxy_network_name }}
    environment:
      ATUIN_HOST: "0.0.0.0"
      ATUIN_OPEN_REGISTRATION: "false"
      ATUIN_DB_URI: postgres://$ATUIN_DB_USERNAME:$ATUIN_DB_PASSWORD@postgresql/atuin
    depends_on:
      - postgresql
  postgresql:
    image: docker.io/postgres:14-alpine
    restart: always
    volumes:
      - db:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: $ATUIN_DB_USERNAME
      POSTGRES_PASSWORD: $ATUIN_DB_PASSWORD
      POSTGRES_DB: atuin
volumes:
  db:
  atuin:
networks:
  {{ reverse_proxy_network_name }}:
    external:
      name: {{ reverse_proxy_network_name }}
