version: '3.9'

services:
  redis:
    image: redis:7.0.2
    restart: always
    networks:
      - internal
    volumes:
      - ./docker-volumes/redis:/data/redis
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
    logging:
      options:
        max-size: "10m"
        max-file: "5"

  backend:
    image: ghcr.io/gravitytwog/olios-backend:1
    restart: always
    ports:
      - 5000:5000
    environment:
      NODE_ENV: production
      SESSION_SECRET: {{ session_secret }}
      DATABASE_URL: {{ database_url }}
      REDIS_URI: redis://redis
      S3_ENDPOINT: {{ s3_endpoint }}
      S3_ACCESS_KEY_ID: {{ s3_access_key_id }}
      S3_SECRET_ACCESS_KEY: {{ s3_secret_access_key }}
      ENVIRONMENT: staging
      FILE_STORAGE_URL: {{ s3_endpoint }}
      HEALTH_URL: /api/v1/health
    networks:
      - internal
      - reverse-proxy
    depends_on:
      - redis
#    healthcheck:
#      test: ['CMD', 'yarn', 'healthcheck']
#      interval: 30s
#      timeout: 10s
#      retries: 5
    volumes: 
      - type: bind
        source: ./app.log
        target: /usr/src/app/app.log
    logging:
      options:
        max-size: "10m"
        max-file: "5"

networks:
  internal:
    driver: bridge

  reverse-proxy:
    external: true
