{%- set bind_ip = salt.pillar.get('velocity:bind_ip', '0.0.0.0') -%}
{%- set bind_port = salt.pillar.get('velocity:bind_port', '25501') -%}
{%- set metrics_port = salt.pillar.get('velocity:metrics_port', '9970') -%}
{%- set geyser_port = salt.pillar.get('velocity:geyser_port', false) -%}

version: "2.0"

services:
  velocity:
    image: spritsail/velocity:latest
    container_name: velocity
    restart: unless-stopped
    volumes:
      - /volumes/velocity:/config:rw
    ports:
      - {{ bind_ip }}:{{ bind_port }}:{{ bind_port }}
      - {{ bind_ip }}:{{ metrics_port }}:{{ metrics_port }}
{%- if geyser_port %}
      - {{ bind_ip }}:{{ geyser_port }}:{{ geyser_port }}/udp
{%- endif %}
      - '[::]:{{ metrics_port }}:{{ metrics_port }}'
    network_mode: bridge
