---
version: '3'
services:
  elasticsearch:
    user: "1000"
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.5.0
    volumes:
      - ./storage/data:/usr/share/elasticsearch/data:z
      - ./stingar-server/docker/elasticsearch/conf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:z
    ports:
      - "127.0.0.1:9200:9200"
      - "127.0.0.1:9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
  kibana:
    user: "1000"
    image: docker.elastic.co/kibana/kibana-oss:6.5.0
    volumes:
      - ./stingar-server/docker/kibana/conf/kibana.yml:/usr/share/kibana/config/kibana.yml:z
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
      - fluentd
    links:
      - elasticsearch:elasticsearch
  fluentd:
    build:
      context: ./stingar-server/docker/fluentd
    volumes:
      - ./stingar-server/docker/fluentd/conf/fluent.conf:/fluentd/etc/fluent.conf:z
      - ./stingar-server/docker/fluentd/conf/fluent.conf:/etc/conf.d/es.conf:z
      - ./stingar-server/docker/fluentd/outputs/out_cif.rb:/etc/fluent/plugin/out_cif.rb:z
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    links:
      - elasticsearch:elasticsearch
    env_file:
      - stingar.env
  stingarapi:
    build:
      dockerfile: ./Dockerfile
      context: ./stingar-server/apiarist
    image: stingar-api:ubuntu
    ports:
      - "80:8000"
    links:
      - elasticsearch:elasticsearch
