version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'auth-postgresql'
    environment:
      POSTGRES_PASSWORD: 'add_password_here'
    ports:
      - '5432:5432'
    networks:
      - auth-network
    volumes:
      - '~/docker-data/auth-postgres:/var/lib/postgresql/data'

networks:
  auth-network:
    driver: bridge

volumes:
  postgres: