version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'ads-postgresql'
    environment:
      POSTGRES_PASSWORD: 'password'
    ports:
      - '5432:5432'
    networks:
      - ads-network
    volumes:
      - '~/docker-data/ads-postgres:/var/lib/postgresql/data'

networks:
  ads-network:
    driver: bridge

volumes:
  postgres: